.type {
  padding-bottom: 40px;
}

.type:last-of-type {
  padding-bottom: 0;
}

.list {
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 24px;
}

.item {

}

.title {
  margin-top: 0;
}