.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 180px
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  margin-top: 0;
}