@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Iceland-Regular.woff2") format("woff2");
}

:root {
  --bg-color: #131316;
  --text-color: #f2f2f3;
  --text--inactive-color: #8585ad;
  --number-ff: 'Iceland', monospace;
  --colors-interface-accent: #4c4cff;
  --modal-bg-color: #1c1c21;
  --colors-interface-success: #0cc;
}

body {
  font-family: 'JetBrains Mono', monospace;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.link {
  text-decoration: none;
}

.scroll {
  box-sizing: border-box;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #8585AD;
}

.round-image {
  display: block;
  width: 64px;
  height: 64px;

  background-image: linear-gradient(#131316, #131316), linear-gradient(63.18deg, #801AB3 0%, var(--colors-interface-accent) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  border-radius: 50%;
  border: double 2px transparent;

  object-position: center;
  object-fit: cover;
}