@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Iceland-Regular.woff2") format("woff2");
}

:root {
  --bg-color: #131316;
  --text-color: #F2F2F3;
  --text--inactive-color: #8585ad;
  --number-ff: 'Iceland', monospace;
}

body {
  font-family: 'JetBrains Mono', monospace;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.link {
  text-decoration: none;
}
